.about{
  font-family: $Roboto;

  h2{
    color: black;
    font-weight: 700;
    @extend .font-xx-lg;
  }

  h3{
    color: black;
    font-weight: 700;
    @extend .font-x-lg;
  }

  p{
    color: #717275;
    @extend .font-md;
    font-weight: 400;
  }

  h4{
    @extend .font-x-lg;
    font-weight: 700;
    color: black;
  }
}

