.about-us{
    background-color: white;
    padding: 70px;

    .title{
        font-size: 36px;



    }
    .about-benefits{
        text-align: center;

        .about-icon{

            img{
                width: 130px;
                margin-bottom: 40px;
                
            }
        }
    }
}