.subscribe{
    font-family: $DmSans;
    //background-color: #30323e;
    background-position: 50% 50%;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    color: white;
    padding: 80px 0px;


    .subscribe-wrapper{
        max-width: 100%;
        width: 650px;
        
        h2{
            font-size: 40px;
            font-weight: 700;
        }
        p{
            font-size: 17px;
        }

        input{
            background-color: transparent;
            border: 0px;
            border-bottom: 1px solid white;
            color: white;
            display: block;
            line-height: normal;
            padding: 1em 0;
            transition: .2s;
            width: 100%;
            outline: none;
        }
        .btn-cross{
            margin-left: 15px;
            font-weight: 500;
        }
    }
}