.video-slider {
  width: 100%;
  height: 300px;
  overflow: hidden;
  position: absolute;
  //border: 4px solid red;

  .swiper-wrapper{
    width: 95%;
    //border: 4px solid red;
    z-index: 1;

    


    .swiper-slide {
      text-align: center;
      display: flex;
      justify-content: flex-start;
      color: white;
      z-index: 1;
      //border: 2px solid red;

      .benefits{
        height: 200px !important;
        margin-top: 150px;
        font-size: 55px;
        font-weight: 700;
        text-transform: uppercase;
       // border: 2px solid red;
      }
    }
  }

  .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background-color: #d5d7da;
    opacity: 1;
  }

  .swiper-pagination-bullet-active {
    background-color: $teal;
  }
}



.video-items{
  display: flex;
  position: absolute;
  bottom: 40px;
  z-index: 3;
  color: white;
  font-size: 25px;
  font-weight: 500;

  .video-request{
    border: 2px solid white;
    border-radius: 25px;
    padding: 7px 25px;
    margin-left: 40px;
    i{
      margin-right: 5px;
    }
  }
}


.hero {
  position: relative;
  height: calc(90vh - 84px);
}

.hero::after {
  content: "";
  background: rgba(0, 0, 0, 0) linear-gradient(rgba(39, 48, 83, 0.1) 0%, rgb(39, 48, 83) 100%) repeat scroll 0% 0%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin-bottom: -5px;
}

.video-wrap {
  z-index: -1;
}

.custom-video {
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  width: 100%;
  height: 100%;
}




  
  


