*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: inherit;
}

button{
    outline: none;
    border: none;
}

body{
    background-color: #f1f1f1;
}

.distance{
    padding: 70px 0;
}

