*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul{
    list-style: none;
    padding-left: 0;
}

a{
    text-decoration: none;
    color: inherit;
}

button{
    outline: none;
    border: none;
}


.distance{
    padding: 70px 0;
}



.bg-section{
    background-color: white;
}





