.doctor-detail{

    &-img{
        img{
            width: 100%;
        }
    }

    &-content{
        .doctor-detail-name{
            font-size: 40px;
            color: #303030;
            margin-bottom: 20px;
            text-transform: uppercase;
        }

        h5{

            color: #303030;
        }

        .doctor-detail-info{
            margin-bottom: 40px;
        }

    }

    .biographical-summary{
        font-size: 40px;
        margin-bottom: 20px;
    }
}


