.faq{

    font-family: $Roboto;

    h4{
        font-size: 25px;
        font-weight: 700;
        margin-bottom: 20px;
    }

    .accordion-section {

        border: 1px solid #dee2e6;

        .accordion-title {
            background-color: white;
            cursor: pointer;
            padding: 15px 10px;
            width: 100%;
            text-align: left;
            color: #525252;
            transition: 0.3s;
            font-size: 20px;
            font-weight: 700;

            &:hover{
                color: $teal;
            }

        }
      
    }

}