.banner-area-wrapper{
    color: white;
    //position: relative;

    .banner-area{
        // &::after{
        //     content: "";
        //     position: absolute;
        //     top: 0;
        //     left: 0;
        //     width: 100%;
        //     height: 100%;
        //     background-image: linear-gradient(90deg,rgba(0,0,0,0.5) 50%,rgba(0,0,0,0) 100%);
        //     opacity: 1;
        //}
       

        .banner-content{
            padding: 180px 0px;
            
        }
        
        img{
            background-size: cover;
            position: static;
            object-fit: cover;
            object-position: center;
            width: 100%;
            height: 100%;
            max-width: unset;
        }


        h1{
            font-size: 56px;
            font-weight: 700;
        }
        p{
            font-size: 20px;
            font-weight: 400;
        }
        

    }
}