.btn-cross{
    background-color: $teal;
    padding: 10px 20px;
    color: white;
    border-radius: 5px;
}

.custom-btn{
    background: #273053;
    border-radius: 100px;
    color: white;
    font-size: 16px;
    font-weight: 700;
    padding: 10px 20px;

    &:hover{
        background: #0dcaf0;
        box-shadow: 0 1rem 3rem rgba(0,0,0,.175);
        color: white;
    }
}
  
.custom-border-btn {
  background: transparent;
  border: 2px solid #0dcaf0;
  color: #0dcaf0;
}

.custom-btn-bg-white{
    color: $teal;
    background-color: white;
    border-radius: 5px;
    border-color: white;
    padding: 8px 25px;
}
.custon-btn-bg-teal{
    background-color: $teal;
    border: 1px solid white;
    color: white;
    padding: 8px 25px;
    border-radius: 5px;
}
  
  
