.fix-search{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    color: white;
    background-color: #181818;
    z-index: 20;
    padding: 1.5rem;
    overflow: hidden;

    .search-close{
        right: 0;
        cursor: pointer;
        font-size: 30px;
        
    }

    .search-header{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 50px;

        form{
            margin-top: 50px;

            input{
                width: 700px;
                height: 40px;
                border-radius: 8px;
            }
            button{
                height: 40px;
                border-radius: 8px;

            }
        }

    }
}

.show-search{
    display: block;
}