@media only screen and (max-width: 1199px) {
  nav {
    display: none;
  }
  .header-top {
    display: none;
  }
  .main-header {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .login {
    visibility: visible !important;
  }
  .swiper-slide .benefits {
    font-size: 40px !important;
  }
  .video-items {
    bottom: 80px !important;
    font-size: 20px !important;
  }
}
@media only screen and (min-width: 1199px) {
  .drawer {
    display: none;
  }
}
@media only screen and (max-width: 991px) {
  .swiper-container {
    height: 300px !important;
  }
  .swiper-container .swiper-slide .benefits {
    font-size: 35px !important;
  }
  .video-items {
    bottom: 120px !important;
  }
  .about-benefits {
    margin-top: 40px;
  }
  .md {
    display: flex;
    flex-direction: column;
  }
  .donate-desc {
    padding: 20px 0;
  }
}
@media only screen and (max-width: 767px) {
  .swiper-container {
    height: 200px !important;
  }
  .swiper-container .swiper-slide .benefits {
    margin-top: 50px !important;
    font-size: 25px !important;
  }
  .video-items {
    bottom: 200px !important;
    font-size: 20px !important;
  }
}
@media only screen and (max-width: 575px) {
  .swiper-container {
    height: 200px !important;
  }
  .swiper-container .swiper-slide .benefits {
    margin-top: 50px !important;
    font-size: 20px !important;
  }
  .video-items {
    bottom: 300px !important;
    font-size: 15px !important;
  }
}
@media only screen and (max-width: 480px) {
  .swiper-container {
    width: 100% !important;
    height: 100px !important;
  }
  .swiper-container .swiper-slide .benefits {
    margin-top: 30px !important;
    font-size: 20px !important;
  }
  .video-items {
    bottom: 350px !important;
    font-size: 10px !important;
  }
  .about-us {
    padding: 10px 0 !important;
  }
  .title {
    font-size: 16px !important;
  }
  .about img {
    display: flex;
    border-radius: 8px;
    margin: auto;
    width: inherit !important;
  }
  .about .about-content {
    width: inherit !important;
    margin: auto;
  }
  .about .about-content h1 {
    font-size: 35px;
  }
  .about .about-content p {
    font-size: 16px;
  }
}
@media only screen and (max-width: 360px) {
  .swiper-container {
    width: 100% !important;
    height: 100px !important;
  }
  .swiper-container .swiper-slide .benefits {
    margin-top: 30px !important;
    font-size: 14px !important;
  }
  .video-items {
    bottom: 350px !important;
    font-size: 10px !important;
  }
  .about-us .title {
    font-size: 20px !important;
  }
  .about-us .about-benefits .about-icon img {
    width: 120px;
    margin-bottom: 40px;
  }
}
.font-xx-lg, .donate h1 {
  font-size: 48px;
}

.font-x-lg {
  font-size: 32px;
}

.font-lg, .donate .btn-cross, .donate p {
  font-size: 20px;
}

.font-md, header .header-top .question p {
  font-size: 18px;
}

.font-sm {
  font-size: 16px;
}

.font-xs {
  font-size: 12px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  outline: none;
  border: none;
}

body {
  background-color: #f1f1f1;
}

.distance {
  padding: 70px 0;
}

.section-title {
  text-align: center;
  padding-bottom: 30px;
}

.bg-section {
  background-color: white;
}

.btn-cross {
  background-color: #358c92;
  padding: 10px 20px;
  color: white;
  border-radius: 5px;
}
.drawer-d {
  width: 300px;
  min-height: 100vh;
  background-color: rgb(22, 37, 51);
  position: fixed;
  padding: 40px 12px;
  transition: 0.5s;
  z-index: 11;
  top: 0px;
  right: -300px;
  color: white;
}
.drawer-d .close {
  cursor: pointer;
  color: white;
  font-size: 30px;
  transform: translateY(20px);
}
.drawer-d .search-drawer {
  font-size: 20px;
  transform: translateY(20px);
}
.drawer-d .logo {
  margin-left: 20px;
}
.drawer-d .draver-nav a {
  margin-left: 10px;
}

.show {
  right: 0px;
}

.banner-area-wrapper {
  color: white;
}
.banner-area-wrapper .banner-area .banner-content {
  padding: 180px 0px;
}
.banner-area-wrapper .banner-area img {
  background-size: cover;
  position: static;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  width: 100%;
  height: 100%;
  max-width: unset;
}
.banner-area-wrapper .banner-area h1 {
  font-size: 56px;
  font-weight: 700;
}
.banner-area-wrapper .banner-area p {
  font-size: 20px;
  font-weight: 400;
}

.fix-search {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  color: #fff;
  background-color: #181818;
  z-index: 20;
  padding: 1.5rem;
  overflow: auto;
}
.fix-search .search-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}
.fix-search .search-header form {
  margin-top: 50px;
}
.fix-search .search-header form input {
  width: 500px;
  height: 40px;
  border-radius: 8px;
}
.fix-search .search-header form button {
  height: 40px;
  border-radius: 8px;
}

.about {
  background-color: white;
}
.about img {
  display: flex;
  border-radius: 8px;
  margin: auto;
  width: 500px;
}
.about .about-content {
  width: 480px;
  margin: auto;
}
.about .about-content h1 {
  font-size: 40px;
}
.about .about-content p {
  font-size: 20px;
}

.gallery .gallery-item {
  overflow: hidden;
  width: 100%;
  border: 2px solid white;
}
.gallery .gallery-item img {
  width: 100%;
  height: 250px;
  transition: all ease-in-out 0.4s;
  -o-object-fit: cover;
     object-fit: cover;
}

.gallery .gallery-item:hover img {
  transform: scale(1.1);
}

header .header-top {
  padding: 11px 0px;
  transition: 0.3s;
  background-color: #358c92;
  color: white;
}
header .header-top .question p {
  color: #5d666f;
}
header .header-top .header-contact {
  display: flex;
  -moz-column-gap: 25px;
       column-gap: 25px;
}
header .header-top .header-contact i {
  color: white;
  margin-right: 5px;
}
header .header-top .header-contact a {
  font-weight: 500;
}
header .main-header {
  height: 100px;
  font-weight: 500;
  background-color: white;
}
header .main-header .search {
  font-size: 20px;
}
header .main-header .search:hover {
  color: #358c92;
}
header .main-header .login {
  visibility: hidden;
}
header .main-header li:hover {
  color: #358c92;
  transition: 0.3s;
}
header .main-header .pad {
  padding: 30px 0px;
}
header .main-header .submenu-element {
  position: relative;
}
header .main-header .submenu-element:hover .submenu {
  visibility: visible;
  z-index: 2;
}
header .main-header .submenu-element .submenu {
  min-width: 200px;
  padding: 50px 30px 30px;
  position: absolute;
  top: 90px;
  visibility: hidden;
  background-color: rgba(10, 25, 40, 0.95);
  color: white;
  border: none;
}
header .main-header .submenu-element .submenu::before {
  content: "";
  position: absolute;
  top: 0;
  transform: translateY(-100%);
  border: 10px solid transparent;
  border-bottom-color: rgba(10, 25, 40, 0.95);
}

.swiper-container {
  width: 100%;
  height: 500px;
  overflow: hidden;
  position: absolute;
}
.swiper-container .swiper-wrapper {
  width: 100%;
  height: 100px;
}
.swiper-container .swiper-wrapper .swiper-slide {
  text-align: center;
  display: flex;
  justify-content: flex-start;
  color: white;
  z-index: 1;
}
.swiper-container .swiper-wrapper .swiper-slide .benefits {
  margin-top: 150px;
  font-size: 55px;
  font-weight: 700;
  text-transform: uppercase;
}

.vid {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
  z-index: -1;
  overflow: hidden;
}

.video-items {
  display: flex;
  position: absolute;
  bottom: 60px;
  z-index: 3;
  color: white;
  font-size: 25px;
  font-weight: 500;
}
.video-items .video-request {
  border-radius: 16px;
  padding: 8px 10px;
  margin-left: 40px;
}

.about-us {
  background-color: white;
  padding: 70px;
}
.about-us .title {
  font-size: 36px;
}
.about-us .about-benefits {
  text-align: center;
}
.about-us .about-benefits .about-icon img {
  width: 120px;
  margin-bottom: 40px;
}

.donate {
  background-color: #50717b;
  color: white;
}
.donate .btn-cross {
  height: 50px;
  border-radius: 20px;
}

.services {
  background-color: white;
}
.services .icon-box {
  text-align: center;
  border: 1px solid #d5e1ed;
  padding: 80px 20px;
  transition: all ease-in-out 0.3s;
}
.services .icon-box:hover {
  background: #358c92;
  border-color: #358c92;
}
.services .icon-box:hover a {
  color: #fff;
}
.services .icon-box:hover p {
  color: #fff;
}
.services .icon-box:hover .icon {
  background: #fff;
}
.services .icon-box:hover .icon::before {
  background: rgba(255, 255, 255, 0.3);
}
.services .icon-box:hover .icon i {
  color: #358c92;
}
.services .icon-box h4 {
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 24px;
}
.services .icon-box h4 a {
  color: #358c92;
}
.services .icon-box p {
  line-height: 24px;
  font-size: 14px;
  margin-bottom: 0;
}
.services .icon-box .icon {
  margin: 0 auto;
  width: 64px;
  height: 64px;
  background: #358c92;
  border-radius: 5px;
  transition: all 0.3s ease-out 0s;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  transform-style: preserve-3d;
  position: relative;
  z-index: 2;
}
.services .icon-box .icon::before {
  position: absolute;
  content: "";
  left: -8px;
  top: -8px;
  height: 100%;
  width: 100%;
  background: rgba(25, 119, 204, 0.2);
  border-radius: 5px;
  transition: all 0.3s ease-out 0s;
  transform: translateZ(-1px);
  z-index: -1;
}
.services .icon-box .icon i {
  color: #fff;
  font-size: 28px;
  transition: ease-in-out 0.3s;
}

.contact .info {
  width: 100%;
  background: #fff;
}
.contact .info i {
  font-size: 20px;
  color: #358c92;
  float: left;
  width: 44px;
  height: 44px;
  background: #d6e9fa;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
}
.contact .info h4 {
  padding: 0 0 0 60px;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 5px;
  color: #2c4964;
}
.contact .info p {
  padding: 0 0 0 60px;
  margin-bottom: 0;
  font-size: 14px;
  color: #4b7dab;
}
.contact .info .email {
  margin-top: 40px;
}
.contact .info .phone {
  margin-top: 40px;
}
.contact .form-type {
  width: 100%;
  background: #fff;
}
.contact .form-type input {
  height: 44px;
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
}
.contact .form-type textarea {
  padding: 10px 12px;
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
}
.contact .form-type .form-group {
  padding-bottom: 8px;
}
.contact .form-type .error-message {
  display: none;
  color: #fff;
  background: #ed3c0d;
  text-align: left;
  padding: 15px;
  font-weight: 600;
}
.contact .form-type .sent-message {
  display: none;
  color: #fff;
  background: #18d26e;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}

.contact .info .email:hover i,
.contact .info .address:hover i,
.contact .info .phone:hover i {
  background: #358c92;
  color: #fff;
}

.subscribe {
  background-position: 50% 50%;
  background-size: cover;
  color: white;
  padding: 80px 0px;
}
.subscribe .subscribe-wrapper {
  max-width: 100%;
  width: 650px;
}
.subscribe .subscribe-wrapper h2 {
  font-size: 40px;
  font-weight: 700;
}
.subscribe .subscribe-wrapper p {
  font-size: 17px;
}
.subscribe .subscribe-wrapper input {
  background-color: transparent;
  border: 0px;
  border-bottom: 1px solid white;
  color: white;
  display: block;
  line-height: normal;
  padding: 1em 0;
  transition: 0.2s;
  width: 100%;
  outline: none;
}
.subscribe .subscribe-wrapper .btn-cross {
  margin-left: 15px;
  font-weight: 500;
}

.footer {
  color: #444444;
  font-size: 14px;
  background: #f1f7fd;
}
.footer .footer-top {
  padding: 60px 0 30px 0;
  background: #fff;
  box-shadow: 0px 2px 15px rgba(25, 119, 204, 0.1);
}
.footer .footer-top h4 {
  font-size: 16px;
  font-weight: bold;
  color: #444444;
  position: relative;
  padding-bottom: 12px;
}
.footer .footer-top .footer-links {
  margin-bottom: 30px;
}
.footer .footer-top .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.footer .footer-top .footer-links ul a {
  color: #777777;
  transition: 0.3s;
  display: inline-block;
  line-height: 1;
}
.footer .footer-top .footer-links ul a:hover {
  text-decoration: none;
  color: #1977cc;
}
.footer .footer-top .footer-links ul li {
  padding: 10px 0;
  display: flex;
  align-items: center;
}
.footer .footer-top .footer-links ul li:first-child {
  padding-top: 0;
}
.footer .footer-top .footer-links ul i {
  padding-right: 2px;
  color: #1c84e3;
  font-size: 18px;
  line-height: 1;
}
.footer .footer-top .footer-contact {
  margin-bottom: 30px;
}
.footer .footer-top .footer-contact .cont {
  display: flex;
  -moz-column-gap: 10px;
       column-gap: 10px;
}
.footer .credits {
  padding-top: 5px;
  font-size: 13px;
  color: #444444;
}
.footer .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #358c92;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}
.footer .social-links a:hover {
  background: rgb(5, 72, 72);
  color: #fff;
  text-decoration: none;
}