@media only screen and (max-width: 1199px) {

    //Header-start*********************************//

    nav{
        display: none;
    }

    .header-top{
        display: none;
    }

    .main-header{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .user-btn{
      display: none;
    }

   
    .wishlist{
      display: none;
    }

    

    //Header-end*********************************//


    //Video-section-start*********************************//

    .swiper-slide {
        
        .benefits{
          font-size: 40px !important;
          
        }
      
    }

    .video-items{
      bottom: 80px !important;
      font-size: 20px !important;
    
      .video-request{
      }
    }

    //Video-section-end*********************************//

    
  
}

@media only screen and (min-width: 1199px) {

    //Header-start*********************************//

    .menu-icon{
        display: none;
    }


    //Header-end*********************************//
  
}


@media only screen and (max-width: 991px) {

    //Video-section-start*********************************//

    .swiper-container{

        //height: 300px !important;



        .swiper-slide {
        
            .benefits{
              font-size: 50px !important;
              
            }
          
        }
    }

    .video-items{
      bottom: 50px !important;
    }

    //Video-section-end*********************************// 
      

    




    //*****AboutUs-start*****//

    .about-benefits{
      margin-top: 40px;
    }

    //*****AboutUs-end*****//


    //*****Donate-start*****//
    .md{
      display: flex;
      flex-direction: column;
    }
    .donate-desc{
      padding: 20px 0;
    }

    //*****Donate-end*****//

    //Single-product-section-start*********************************//

    

    //Single-product-section-end*********************************//



  //Department-detail-start*********************************//

 

  .department-contact{
    display: flex;
    flex-direction: column;
  }

  //Department-detail-end*********************************//


  //Subscribe-popup-start*********************************//

  .subscribe-popup{
    display: none !important;
  }

  //Subscribe-popup-end*********************************//

}


@media only screen and (max-width: 767px) {

    //Video-section-start*********************************//

    .video-slider{

        height: 250px !important;



        .swiper-slide {
        
            .benefits{
              margin-top: 80px !important;
              font-size: 37px !important;
            }
          
        }

    }

    .video-items{
      bottom: 70px !important;
      font-size: 22px !important;
    }

    //Video-section-end*********************************//


    //Single-product-section-start*********************************//

    

    //Single-product-section-end*********************************//


    //Search-section-start*********************************//

    .fix-search{
      input{
        width: 500px !important;
      }
    }

    //Search-section-end*********************************//


    //Feedback-section-start*********************************//

    .feedback{
      &-form {
        .group-input {
          flex-direction: column;
        }
      }
    }

    //Feedback-section-end*********************************//




}


@media only screen and (max-width: 575px) {

    //Video-section-start*********************************//

    .video-slider{

        //height: 20px !important;

      .swiper-slide {
      
        .benefits{
            margin-top: 100px !important;
            font-size: 30px !important;
          
        }
      }
    }

    .video-items{
      bottom: 100px !important;
      font-size: 20px !important;
      
    }

    //Video-section-end*********************************//


    //Search-section-start*********************************/
    .fix-search{
      input{
        width: 400px !important;
      }
    }

    //Search-section-end*********************************//


    //Blog-Comment-start*********************************//


    .blog{
      &-comment{
        padding: 0px 25px !important;
      }

    }

    //Blog-Comment-end*********************************//
    
 
}


@media only screen and (max-width: 480px){

  //Video-section-start*********************************//

  .video-slider{

    width: 100% !important;
    height: 250px !important;

    .swiper-slide {
    
      .benefits{
        margin-top: 100px !important;
        font-size: 20px !important;
      }
      
    }
  }

  .video-items{
    display: flex;
    flex-direction: column !important;
    row-gap: 30px;

    bottom: 80px !important;
    font-size: 25px !important;
    margin-right: 0px;

    .video-request{
      
      margin-left: 0px !important;
    }
    
  }

  

//Video-section-end*********************************//

//*****AboutUs-start*****//

  .about-us{
    padding: 10px 0 !important;
  }
  .title{
    font-size: 16px !important;
  }
  
  //*****AboutUs-end*****//
  
  
  //*****About-start*****//
  
  .about{
  
    img{
        display: flex;
        border-radius: 8px;
        margin: auto;
        width: inherit !important;
    }
  
    .about-content{
        width: inherit !important;
        margin: auto;
  
        h1{
            font-size: 35px;
        }
  
        p{
            font-size: 16px;
  
        }
  
    }
  
    
  }

  //*****About-end*****//

  .single-product-image{
  
    .swiper-container {
       
      width: 100% !important;
      height: 400px;
        
  
        
    }
  }

  //Department-detail-start*********************************//

  .department-name{
    font-size: 46px !important;
  }

  .department-contact{
    display: flex;
    flex-direction: column;
  }

  //Department-detail-end*********************************//


  //Search-section-start*********************************/
  .fix-search{
    input{
      width: 300px !important;
    }
  }
  //Search-section-end*********************************//


  //Blog-Comment-start*********************************/
  .blog{
    &-comment{
      .heading {
        font-size: 28px !important;
      }
      &-item{
        flex-direction: column;

        &.relpy-item {
          padding-left: 0 !important;
        }
      }

      &-content{
        width: 100% !important;
        margin-left: 0 !important;
        margin-top: 25px !important;
      }
    }
    
  }
  //Blog-Comment-end*********************************//


  .feedback {
    &-area {
      
      .heading {
        font-size: 25px !important;
      }

      .rating-box {
        flex-direction: column !important;
        align-items: flex-start !important;

        ul {
            padding-left: 0 !important;
            padding-top: 10px !important;
        }
    }
    }
  }

  //View-cart-section-start*********************************//


  .coupon-all {
    display: flex;
    flex-direction: column;
    .coupon,
    .coupon2 {
        &.coupon2 {
          margin-top: 15px;
        }
    }
}

    
  //View-cart-section-start*********************************//
  
}

@media only screen and (max-width: 360px){

    //Video-section-start*********************************//

    .video-slider{

      width: 100% !important;
      height: 250px !important;
  
      .swiper-slide {
      
        .benefits{
          margin-top: 100px !important;
          font-size: 20px !important;
        }
        
      }
    }

    .video-items{
      display: flex;
      flex-direction: column;
      row-gap: 30px;
      justify-content: center;
      align-items: center;
      text-align: center;
      bottom: 80px !important;
      font-size: 20px !important;
  
      .video-request{
        
        margin-left: 20px !important;
        
      }
      
    }

    //Video-section-end*********************************//


    //*****AboutUs-start*****//
    .about-us{
      // background-color: white;
      // padding: 70px;
  
      .title{
          font-size: 20px !important;
      }
  
      .about-benefits{
  
          .about-icon{
  
              img{
                  width: 120px;
                  margin-bottom: 40px;
              }
          }
      }
    }

    //*****AboutUs-end*****//


    //Single-product-section-start*********************************//

    

    //Single-product-section-end*********************************//
  
}




